:root {

    --primary-color: #055a05; /* Dark Green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* Deep Blue */
    --accent2-color: #e9c46a; /* Soft Yellow */
    --accent3-color: #000000; /* Black */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--accent1-color);
    color: white;
}


header img {
  width: 120px;
  height: auto;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}



.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 2%;
    width: 100%;
    padding: 16px; 
    text-align : center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    
}

.hero article img {
    float: right;
    width: 125px;  
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);

}

h2 {
    top: 20%;
    width: 100%;
    padding: 16px; 
    text-align : center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}


.hero article {
    position: absolute;
    top: 33%;
    padding: 0px; 
    text-align : center;
    opacity: 90%;
    background-color: var(--accent2-color);

    color: #050505;


}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    margin: 0 10px;
    border: 1px solid var(--accent3-color);
    background-color: #eee;
    color: var(--accent3-color);

  
}

nav a:hover {
    background-color: white;
    color: var(--accent3-color);
}



.history {
  padding: 0px;
 
}

.history h2 {
  text-align: center;
  margin: 5px;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  align-items: center;
  padding: 0px;
}   

.history img{
    width: 250px;
    height: 150px;
}

.adventures {
  padding: 20px;
}

.adventures h2 {
  text-align: center;
}

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.adventure-gallery figure {
  margin: 0;
  text-align: center;
}

.adventure-gallery img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

.adventure-gallery figcaption {
  font-size: 14px;
  margin-top: 5px;
}


.logo {
    width: 100px;
}


/* COMPANY INFO */
.company-header {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}   
.company-header-h1 {
    position: absolute;
    top: 20%;
    width: 60%;
    text-align : center;
    color: #000000;
    background-color: transparent;
   
}
/* CONTACT GRID */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.map iframe {
    border: none;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

.submit-btn {
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #aaa;
}

/* EMPLOYEE SECTION */
.employees-section {
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.employees {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.employees img {
    width: 150px;
    height: auto;
}

.employees figure {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--accent1-color);
    color: white;
}

.socialmedia {
  display: flex;
  gap: 10px;
}

.socialmedia img {
  width: 40px;
  height: auto;
}


.social img {
    width: 30px;
    margin: 0 5px;
}
